html {
    scroll-behavior: smooth;
  }
  
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
}

h1
{
    margin: 0;
}

h3, h4, h5, h6
{
    margin: 0;
}

:root
{
    --main-color: #a405e3;
    --main-color-transparent: #a405e344;
    --active-color: #333333;
    --nav-width: 250px;
    --nav-close-width: 50px
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    margin: auto;
}

@media (min-width: 576px) { 
    .container {
        width: calc(550px - var(--nav-close-width));
    }
 }

@media (min-width: 768px) { 
    .container {
        width: calc(752px - var(--nav-width));
    }  
 }

@media (min-width: 992px) { 
    .container {
        width: calc(974px - var(--nav-width));
    }  
 }

@media (min-width: 1200px) { 
    .container {
        width: calc(1184px - var(--nav-width));
    }    
 }

@media (min-width: 1400px) { 
    .container {
        width: calc(1284px - var(--nav-width));
    }    
 }
